<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakurafish.pockettoushituryou"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sakurafish.pockettoushituryou.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.SearchResultActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.FavoritesActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sakurafish.pockettoushituryou.view.activity.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="@string/mvs_authority"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>