<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakurafish.pockettoushituryou">

    <application
        android:name="com.sakurafish.pockettoushituryou.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="br.com.mauker.HistoryProviderForDebug"
            android:authorities="@string/mvs_authority"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>